$primary-color: #139cc3;
$primary-color-dark: #10718c;
$secondary-color: #ff3110;
$white: #ffffff;
$primary-color-light: #e6f4f9;
$bg-card: #ffffff;
$gray-light: #f8f8f8;
$gray: #e0e0e0;
$text-color: #333333;
$text-color-light: #666666;
$card-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);